@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #FFF;
  --black: #171717;
  --gray: #525252;
  --gradient: linear-gradient(-64deg, #D2D6DB 0%, #F9FAFB 100%);
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--gradient);
  min-height: 100vh;
}