@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #FFF;
  --black: #171717;
  --gray: #525252;
  --gradient: linear-gradient(-64deg, #D2D6DB 0%, #F9FAFB 100%);
  --border: #E6E6E6;
  font-family: "Noto Sans", sans-serif;
  color: var(--black);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--gradient);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--white);
  width: 340px;
  padding: 23px;
  margin-top: 200px;
  border-radius: 8px;
  border: 1px solid var(--border);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
  
  .card-profile {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      width: 48px;
      height: 48px;
    }
    
    
    .card-user-name {
      overflow: hidden;
      text-overflow: ellipsis;

      h1 {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        
      }
      
      span {
        font-size: 14px;
        line-height: 20px;
        color: var(--gray);
      }
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
  }

}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
